<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS, FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>STEPWISE</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <!--Logo-->
          <img src="../../assets/tree.png" id="logo">
          <a class="navbar-brand" href="#"><h2>STEPWISE</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" routerLink ="/landing" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink ="/grid" href="#">Causes</a>
              </li>
              <li class="nav-item">
                      <a class="nav-link" routerLink ="/impact" href="#">Impact</a>
              </li>
              <li class="nav-item">
                      <a class="nav-link" href="#">Contact Us</a>
              </li>
            </ul>
            <i class="fas fa-user-circle fa-3x" routerLink ="/user"></i>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Sign Out</button>
          </div>
      </nav>   
  
    <h1 class="text" *ngFor="let issues of issueblurbs | async; trackBy: trackbyissue">
      {{issues.Hunger}}
    </h1>

    <ul>
    <div class = "container">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1523737000522-87c15d8efcc4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2102&q=80/100px180/" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">No Poverty</h5>
          <p class="card-text">Poverty goes beyond having to live on a low income and can affect access to services, right to participation in society, health, and educational attainment. *Pick this fight to help others get second chances in life.*</p>
          <a href="#" class="btn btn-primary">Let's Go!</a>
        </div>
      </div>
    
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1531928351158-2f736078e0a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3900&q=80/100px180/" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Zero Hunger</h5>
            <p class="card-text">Hunger and malnutrition make the human body weak and vulnerable to diseases. Many children die in hunger prone areas because their bodies do not have the fuel to build muscle and fight off infections. *Pick this fight to help feed those in extreme poverty.*</p>
            <a href="#" class="btn btn-primary">Let's Go!</a>
          </div>
        </div>

      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1543164904-8ff92670a192?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3900&q=80/100px180/" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Good Health and Well-Being</h5>
            <p class="card-text">One billion people lack access to health care systems. Cardiovascular disease, cancer, diabetes, and chronic lung diseases make up almost two-thirds of the estimated 56 million deaths each year worldwide. *Pick this fight to help people seek access to affordable health care.*</p>
            <a href="#" class="btn btn-primary">Let's Go!</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1484415063229-3d6335668531?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2176&q=80/100px180/" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Quality Education</h5>
              <p class="card-text">Access to quality education and educating and empowering young boys and girls is critical to the growth of our country. *Pick this fight to help all people receive equal opportunities in education, regardless of their social class, gender, ethnicity background, or physical and mental disabilities.*</p>
              <a href="#" class="btn btn-primary">Let's Go!</a>
            </div>
          </div>
        
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://images.unsplash.com/photo-1516569422572-d9e0514b9598?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3456&q=80/100px180/" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Climate Action</h5>
                <p class="card-text">Climate change is disrupting national economies and costing people, communities, and countries dearly. It is an issue that requires solutions that need to be coordinated at the international level to help developing countries move toward a low-carbon economy. *Pick this fight to strengthen the global response to the threat of climate change.*</p>
                <a href="#" class="btn btn-primary" routerLink ="/climate">Let's Go!</a>
              </div>
            </div>
    
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://images.unsplash.com/photo-1511898634545-c01af8a54dd5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3820&q=80/100px180/" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Gender Equality</h5>
                <p class="card-text">Gender equality is not only a fundamental human right, but a necessary foundation for a peaceful and prosperous world. Implementing new legal frameworks regarding female equality in the workplace and the eradication of harmful practices targeted at women is crucial to ending the gender-based discrimination prevalent in many countries around the world. *Pick this fight to close the gender gaps in socioeconomics constraints within modern day society.*</p>
                <a href="#" class="btn btn-primary">Let's Go!</a>
              </div>
          </div>
        </div>
      </ul>


    <!-- Optional JavaScript
    jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>




<!-- <h1>Angular Router</h1> -->
<!-- <nav>
  <a routerLink="/usercomponent" routerLinkActive="active">User</a>
  <a routerLink="/listcomponent" routerLinkActive="active">The Envrionment</a>
</nav> -->