<!doctype html>
<html lang="en">
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!--Logo-->
            <img src="../../assets/tree.png" id="logo">
            <a class="navbar-brand" href="#"><h2>STEPWISE</h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink ="/landing" href="#">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink ="/grid" href="#">Causes</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" routerLink ="/list" href="#">Actions</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" routerLink ="/impact" href="#">Impact</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                </li>
                </ul>
                <i class="fas fa-user-circle fa-3x" routerLink ="/user"></i>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Sign Out</button>
            </div>
        </nav>
    </body>
<!--     
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
<mat-expansion-panel-header>

<mat-panel-title>
Level 1: The Tree Hugger
</mat-panel-title>
</mat-expansion-panel-header>
<p>
  <input type="checkbox" name="task2" value="recycle"> Recycle 3 water bottles<br>
  <input type="checkbox" name="task4" value="water"> Take a shorter shower<br>
</p>
</mat-expansion-panel>
</mat-accordion>

<mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Level 2: The Whale Watcher
</mat-panel-title>
</mat-expansion-panel-header>
<p>
      <input type="checkbox" name="task3" value="trash"> Dispose of used batteries properly<br>
</p>
</mat-expansion-panel>
</mat-accordion>

<mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Level 3: The Wastewater Warrior
</mat-panel-title>
</mat-expansion-panel-header>
<p>
      <input type="checkbox" name="task1" value="sponsor"> Featured Sponsorship Task: Attend a recyling event!<br>
</p>
</mat-expansion-panel>
</mat-accordion> -->

</html>